<div class="row">
	<div class="col-md-10">
	  <p class="lead">This is the list of all your projects.</p>
	</div>
  <div class="col-md-2">
		<%= link_to content_tag(:i, ' New Project', class: "fa fa-plus"), "#",
		            class: "btn btn-primary",
								data:{
									toggle:"modal",
									target:"#project-modal",
									remote: "#{new_project_path} #project-form"
								} %>
  </div>
	<div id="project-list">
		<% @projects.each do |project|%>
			<div id="<%= "project-#{project.id}" %>">
				<%= render partial: "project_row", locals: {project: project} %>
			</div>
		<% end %>
	</div>

	<div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>
</div>
